body
{
    background-color: crimson;
    text-align: center;
}
@import url('https://fonts.googleapis.com/css2? family= Oswald & display=swap');
 


h1.titulo {
    color: white;
}


img.img{
    border: crimson 5px solid;
  
}

div.box {
	
	display: inline-block;
    
}



p.p {
    color: white;
    font-family: 'Oswald', sans-serif;
    
}
a.a{
    color:white;
}

.rodape {
    position: fixed;
    display: block;
    text-align: center;
    font-size: 1.5em;
    color: white;
}

.baixoNaDireita {
    bottom: 0%;
    right: 0%;
    margin-bottom: 10px;
    margin-right: 10px;
}

.baixoNaEsquerda {
    bottom: 0%;
    left: 0%;
    margin-bottom: 10px;
    margin-left: 10px;
}

p.direita{
text-align: left;
color: white;
}


h1.direita{
text-align: left;
color: teal; text-shadow: black 0.1em 0.1em 0.2em;
}

img.autores{
    text-align: center;
border-right: 10px teal solid ;
}

h2.direeita{
    text-align: left;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;;
}